In [4]:
import pandas as pd
from config import api_config

## Data Types source 1: metadata downloaded from site (.xlsx)

In [5]:
data_dict = pd.read_excel("../Files/FIR-0001_DataDictionary_fire-incidents__OK.ods")

In [6]:
data_dict.head(3)

,Field Name,Data Type,Definition,Notes (optional)
0,Incident Number,Text,A unique 8-digit number assigned by DEM to thi...,NaN
1,Exposure Number,Numeric,A sequence number indicates the order in which...,NaN
2,Address,Text,Address of the incident,NaN

In [7]:
datadict_cols = list(data_dict["Field Name"])
datadict_datatypes = list(data_dict["Data Type"].unique())
print(f"Number of cols: {len(datadict_cols)}")
print(f"Data Types: {datadict_datatypes}")

Number of cols: 63
Data Types: ['Text', 'Numeric', 'Date & Time', 'Coordinates']

## Datatypes source 2: Socrata metadata API

In [8]:
import requests

In [9]:
APP_TOKEN = api_config["app_token"]

headers = {
  "X-App-Token": APP_TOKEN,
  "Content-Type": "application/json"
}

In [10]:
DATASET_ID = "wr8u-xric"
METADATA_QUERY = f"?ids={DATASET_ID}"
METADATA_URL = f"http://api.us.socrata.com/api/catalog/v1"

# source 2: Socrata metadata request
metadata_req = requests.get(
    f"{METADATA_URL}{METADATA_QUERY}",
    headers=headers
)

metadata = metadata_req.json()

In [11]:
resource_metadata = metadata["results"][0]["resource"]
metadata_cols = resource_metadata["columns_name"]
metadata_datatypes = resource_metadata["columns_datatype"]
print(f"Number of cols: {len(metadata_cols)}")
print(f"Data Types: {set(metadata_datatypes)}")

Number of cols: 64
Data Types: {'Text', 'Number', 'Point'}

In [12]:
data_dict_missing = [c for c in metadata_cols if c not in datadict_cols ]
metadata_missing = [c for c in datadict_cols if c not in metadata_cols ]
print(f"Cols not in datadict: {data_dict_missing}")
print(f"Cols not in metadata: {metadata_missing}")

Cols not in datadict: ['ID', 'neighborhood_district', 'point', 'zipcode']
Cols not in metadata: ['Zipcode', 'Location', 'Neighborhood District']

In [13]:
point_index = metadata_cols.index("point")
print(f"Data Type for 'point' column: {metadata_datatypes[point_index]}")

Data Type for 'point' column: Point

## Data types source 3: actual data

In [14]:
import json

In [16]:
# previously downloaded json
with open('../Data/data.json') as json_file:
    api_data = json.load(json_file)

In [17]:
# check 1: all data points from json 
# have keys equal to column names
cols_diff = []
for i, item in enumerate(api_data):
    diff = [ c for c in set(item.keys()) if c not in metadata_cols ]
    if len(diff) > 0:
        cols_diff.append((i, diff))

In [18]:
datadict_cols[:5]

['Incident Number',
 'Exposure Number',
 'Address',
 'Incident Date',
 'Call Number']

In [19]:
cols_diff[0][1][:5]

['incident_number', 'id', 'address', 'action_taken_primary', 'other_units']

## JSON Metadata (manual download)

In [20]:
# this json was manually downloaded from the site
with open("../Data/sf-fires-download.json") as json_file:
    download = json.load(json_file)

In [21]:
type(download)

dict

In [22]:
download.keys()

dict_keys(['meta', 'data'])

### Meta exploration

In [23]:
type(download["meta"])

dict

In [24]:
download["meta"].keys()

dict_keys(['view'])

In [25]:
download["meta"]["view"].keys()

dict_keys(['id', 'name', 'assetType', 'averageRating', 'category', 'createdAt', 'description', 'displayType', 'downloadCount', 'hideFromCatalog', 'hideFromDataJson', 'licenseId', 'newBackend', 'numberOfComments', 'oid', 'provenance', 'publicationAppendEnabled', 'publicationDate', 'publicationGroup', 'publicationStage', 'rowIdentifierColumnId', 'rowsUpdatedAt', 'rowsUpdatedBy', 'tableId', 'totalTimesRated', 'viewCount', 'viewLastModified', 'viewType', 'approvals', 'columns', 'disabledFeatureFlags', 'grants', 'license', 'metadata', 'owner', 'query', 'rights', 'tableAuthor', 'flags'])

In [26]:
type(download["meta"]["view"]["columns"])

list

In [27]:
len(download["meta"]["view"]["columns"])

72

In [28]:
download_meta_cols = download["meta"]["view"]["columns"]
download_meta_cols[-5:]

[{'id': 496028758,
  'name': 'Automatic Extinguishing Sytem Failure Reason',
  'dataTypeName': 'text',
  'description': '',
  'fieldName': 'automatic_extinguishing_sytem_failure_reason',
  'position': 60,
  'renderTypeName': 'text',
  'tableColumnId': 33383966,
  'width': 628,
  'cachedContents': {'non_null': '9624',
   'largest': 'U -Undetermined',
   'null': '564266',
   'top': [{'item': '-', 'count': '9563'},
    {'item': 'Fire not in area protected by the system', 'count': '24'},
    {'item': '5 -Fire not in area protected by the syste', 'count': '9'},
    {'item': 'System shut off', 'count': '6'},
    {'item': 'U -Undetermined', 'count': '5'},
    {'item': 'Undetermined', 'count': '4'},
    {'item': '0 -Reason system not effective, other', 'count': '3'},
    {'item': '1 -System shut off', 'count': '2'},
    {'item': 'Not enough agent discharged to control the fire', 'count': '2'},
    {'item': 'Reason system not effective, other', 'count': '2'},
    {'item': '3 -Agent discharged, did not reach the fir', 'count': '1'},
    {'item': 'Agent discharged, but did not reach the fire', 'count': '1'},
    {'item': 'Inappropriate system for the type of fire', 'count': '1'},
    {'item': '7 -Lack of maintenance, including corrosio', 'count': '1'}],
   'smallest': '-',
   'count': '573890',
   'cardinality': '14'},
  'format': {}},
 {'id': 496028759,
  'name': 'Number of Sprinkler Heads Operating',
  'dataTypeName': 'number',
  'description': '',
  'fieldName': 'number_of_sprinkler_heads_operating',
  'position': 61,
  'renderTypeName': 'number',
  'tableColumnId': 33383967,
  'width': 520,
  'cachedContents': {'non_null': '6832',
   'largest': '20',
   'null': '567058',
   'top': [{'item': '0', 'count': '6336'},
    {'item': '1', 'count': '412'},
    {'item': '2', 'count': '53'},
    {'item': '3', 'count': '18'},
    {'item': '5', 'count': '6'},
    {'item': '4', 'count': '5'},
    {'item': '6', 'count': '1'},
    {'item': '20', 'count': '1'}],
   'smallest': '0',
   'count': '573890',
   'cardinality': '8'},
  'format': {'align': 'left'}},
 {'id': 496028760,
  'name': 'Supervisor District',
  'dataTypeName': 'text',
  'description': '',
  'fieldName': 'supervisor_district',
  'position': 62,
  'renderTypeName': 'text',
  'tableColumnId': 33383968,
  'width': 328,
  'cachedContents': {'non_null': '283982',
   'largest': '9',
   'null': '289908',
   'top': [{'item': '10', 'count': '52801'},
    {'item': '3', 'count': '43402'},
    {'item': '5', 'count': '37892'},
    {'item': '7', 'count': '31595'},
    {'item': '6', 'count': '29266'},
    {'item': '2', 'count': '24917'},
    {'item': '8', 'count': '23590'},
    {'item': '9', 'count': '22699'},
    {'item': '1', 'count': '11259'},
    {'item': '11', 'count': '6386'},
    {'item': '4', 'count': '175'}],
   'smallest': '1',
   'count': '573890',
   'cardinality': '11'},
  'format': {}},
 {'id': 496028766,
  'name': 'neighborhood_district',
  'dataTypeName': 'text',
  'description': '',
  'fieldName': 'neighborhood_district',
  'position': 63,
  'renderTypeName': 'text',
  'tableColumnId': 115949825,
  'cachedContents': {'non_null': '573800',
   'largest': 'West of Twin Peaks',
   'null': '90',
   'top': [{'item': 'Tenderloin', 'count': '51073'},
    {'item': 'Mission', 'count': '48017'},
    {'item': 'Financial District/South Beach', 'count': '46174'},
    {'item': 'South of Market', 'count': '42201'},
    {'item': 'Bayview Hunters Point', 'count': '40064'},
    {'item': 'Western Addition', 'count': '23305'},
    {'item': 'Sunset/Parkside', 'count': '21679'},
    {'item': 'Nob Hill', 'count': '19569'},
    {'item': 'Pacific Heights', 'count': '16107'},
    {'item': 'Castro/Upper Market', 'count': '14705'},
    {'item': 'Hayes Valley', 'count': '14663'},
    {'item': 'Marina', 'count': '14591'},
    {'item': 'Outer Richmond', 'count': '14508'},
    {'item': 'Chinatown', 'count': '13962'},
    {'item': 'West of Twin Peaks', 'count': '13942'},
    {'item': 'Potrero Hill', 'count': '13055'},
    {'item': 'North Beach', 'count': '11679'},
    {'item': 'Bernal Heights', 'count': '11437'},
    {'item': 'Russian Hill', 'count': '10617'},
    {'item': 'Inner Sunset', 'count': '10617'}],
   'smallest': 'Bayview Hunters Point',
   'count': '573890',
   'cardinality': '41'},
  'format': {}},
 {'id': 496028762,
  'name': 'point',
  'dataTypeName': 'point',
  'description': '',
  'fieldName': 'point',
  'position': 64,
  'renderTypeName': 'point',
  'tableColumnId': 115946926,
  'cachedContents': {'non_null': '573800',
   'null': '90',
   'top': [{'item': {'coordinates': [-122.38416, 37.616901], 'type': 'Point'},
     'count': '8288'},
    {'item': {'coordinates': [-122.419672, 37.76505], 'type': 'Point'},
     'count': '985'},
    {'item': {'coordinates': [-122.412784, 37.784866], 'type': 'Point'},
     'count': '852'},
    {'item': {'coordinates': [-122.456145, 37.748644], 'type': 'Point'},
     'count': '837'},
    {'item': {'coordinates': [-122.414714, 37.776231], 'type': 'Point'},
     'count': '696'},
    {'item': {'coordinates': [-122.405833, 37.785745], 'type': 'Point'},
     'count': '686'},
    {'item': {'coordinates': [-122.413161, 37.777456], 'type': 'Point'},
     'count': '665'},
    {'item': {'coordinates': [-122.407158, 37.783947], 'type': 'Point'},
     'count': '643'},
    {'item': {'coordinates': [-122.410293, 37.78223], 'type': 'Point'},
     'count': '641'},
    {'item': {'coordinates': [-122.406312, 37.75541], 'type': 'Point'},
     'count': '631'},
    {'item': {'coordinates': [-122.418749, 37.755437], 'type': 'Point'},
     'count': '623'},
    {'item': {'coordinates': [-122.417505, 37.77654], 'type': 'Point'},
     'count': '622'},
    {'item': {'coordinates': [-122.476826, 37.728471], 'type': 'Point'},
     'count': '612'},
    {'item': {'coordinates': [-122.412393, 37.780478], 'type': 'Point'},
     'count': '599'},
    {'item': {'coordinates': [-122.418137, 37.749041], 'type': 'Point'},
     'count': '598'},
    {'item': {'coordinates': [-122.41974, 37.785893], 'type': 'Point'},
     'count': '598'},
    {'item': {'coordinates': [-122.416721, 37.757168], 'type': 'Point'},
     'count': '598'},
    {'item': {'coordinates': [-122.42812423, 37.78148613], 'type': 'Point'},
     'count': '571'},
    {'item': {'coordinates': [-122.427401, 37.782057], 'type': 'Point'},
     'count': '565'},
    {'item': {'coordinates': [-122.415695, 37.782585], 'type': 'Point'},
     'count': '544'}],
   'count': '573890',
   'cardinality': '88826'},
  'format': {}}]

### "Data" key exploration

In [29]:
download["data"][0]

['row-6jzi-i6d4~vfd8',
 '00000000-0000-0000-09C7-D3EBD32C3454',
 0,
 1638102821,
 None,
 1638102821,
 None,
 '{ }',
 '8028304',
 '0',
 '080283040',
 '150 Elsie St.',
 '2008-04-01T00:00:00',
 '080920257',
 '2008-04-01T18:06:37',
 '2008-04-01T18:15:19',
 '2008-04-01T18:21:48',
 'SF',
 '94110',
 'B06',
 '11',
 None,
 '1',
 '4',
 '0',
 '0',
 '0',
 '0',
 'E11',
 None,
 None,
 '0',
 '0',
 '0',
 '0',
 '1',
 '412 - Gas leak (natural gas or LPG)',
 'None',
 '86 - Investigate',
 '-',
 '-',
 '-',
 '962 - Residential street, road or residential dr',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '9',
 'Bernal Heights',
 'POINT (-122.41837339 37.74208979)']

### Download vs API data

In [30]:
api_field_names = set()
for item in api_data:
    api_field_names = api_field_names.union(set(item.keys()))

In [31]:
download_field_names = []
download_names = []
download_datatypes = set()
for col in download_meta_cols:
    download_names.append(col["name"])
    download_field_names.append(col["fieldName"])
    download_datatypes.add(col["dataTypeName"])

In [32]:
# check against api data
download_missing = [ c for c in api_field_names if c not in download_field_names ]
api_missing = [ c for c in download_field_names if c not in api_field_names ]

In [33]:
print(f"Columns not in downloaded file: {download_missing}")
print(f"Columns not in API call: {api_missing}")

Columns not in downloaded file: []
Columns not in API call: [':sid', ':id', ':position', ':created_at', ':created_meta', ':updated_at', ':updated_meta', ':meta']

In [34]:
download_datatypes

{'meta_data', 'number', 'point', 'text'}

### Datatypes: json download vs metadata

In [35]:
download_numeric_cols = []
for col in download_meta_cols:
    if col["dataTypeName"] == "number":
        download_numeric_cols.append(col["name"])

data_dict_numeric = data_dict[data_dict["Data Type"] == "Numeric"]["Field Name"].unique()

In [36]:
numeric_diff = [ c for c in data_dict_numeric if c not in download_numeric_cols ]
numeric_diff

[]

In [37]:
download_numeric_cols

['Incident Number',
 'Exposure Number',
 'Suppression Units',
 'Suppression Personnel',
 'EMS Units',
 'EMS Personnel',
 'Other Units',
 'Other Personnel',
 'Estimated Property Loss',
 'Estimated Contents Loss',
 'Fire Fatalities',
 'Fire Injuries',
 'Civilian Fatalities',
 'Civilian Injuries',
 'Number of Alarms',
 'Floor of Fire Origin',
 'Number of floors with minimum damage',
 'Number of floors with significant damage',
 'Number of floors with heavy damage',
 'Number of floors with extreme damage',
 'Number of Sprinkler Heads Operating']

### pandas data conversion

In [38]:
df = pd.DataFrame.from_records(download["data"])

In [39]:
df.columns = download_field_names
df.head(3)

,:sid,:id,:position,:created_at,:created_meta,:updated_at,:updated_meta,:meta,incident_number,exposure_number,...,detector_effectiveness,detector_failure_reason,automatic_extinguishing_system_present,automatic_extinguishing_sytem_type,automatic_extinguishing_sytem_perfomance,automatic_extinguishing_sytem_failure_reason,number_of_sprinkler_heads_operating,supervisor_district,neighborhood_district,point
0,row-6jzi-i6d4~vfd8,00000000-0000-0000-09C7-D3EBD32C3454,0,1638102821,None,1638102821,None,{ },8028304,0,...,None,None,None,None,None,None,None,9,Bernal Heights,POINT (-122.41837339 37.74208979)
1,row-ufeh~vmy3-3wxn,00000000-0000-0000-6556-4158A5282F17,0,1638102821,None,1638102821,None,{ },8028303,0,...,None,None,None,None,None,None,None,10,Potrero Hill,POINT (-122.39489 37.756291)
2,row-g8xs.26dr_zxem,00000000-0000-0000-841C-DB78FD72E2E6,0,1638102821,None,1638102821,None,{ },8028309,0,...,None,None,None,None,None,None,None,None,South of Market,POINT (-122.407468 37.78008)

In [40]:
import numpy as np

In [41]:
for col in download_meta_cols:
    col_field_name = col["fieldName"]
    if col["dataTypeName"] == "number":
        df[col_field_name] = pd.to_numeric(df[col_field_name])

In [42]:
numeric_cols_field = []
for col in download_meta_cols:
    if col["dataTypeName"] == "number":
        numeric_cols_field.append(col["fieldName"])

In [43]:
df[numeric_cols_field].describe().loc[["max", "min"]].T

                                                  max        min
incident_number                            21145805.0  3000001.0
exposure_number                                   5.0        0.0
suppression_units                              3333.0        0.0
suppression_personnel                          5960.0        0.0
ems_units                                       150.0        0.0
ems_personnel                                   312.0        0.0
other_units                                    1000.0        0.0
other_personnel                                1000.0        0.0
estimated_property_loss                   100000000.0   -25000.0
estimated_contents_loss                   100000000.0    -5000.0
fire_fatalities                                   2.0        0.0
fire_injuries                                     9.0        0.0
civilian_fatalities                               3.0        0.0
civilian_injuries                                24.0        0.0
number_of_alarms                                  5.0        1.0
floor_of_fire_origin                            105.0       -3.0
number_of_floors_with_minimum_damage              5.0        0.0
number_of_floors_with_significant_damage          7.0        0.0
number_of_floors_with_heavy_damage                5.0        0.0
number_of_floors_with_extreme_damage              6.0        0.0
number_of_sprinkler_heads_operating              20.0        0.0

In [44]:
df[numeric_cols_field].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573890 entries, 0 to 573889
Data columns (total 21 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   incident_number                           573890 non-null  int64
 1   exposure_number                           573890 non-null  int64
 2   suppression_units                         573890 non-null  int64
 3   suppression_personnel                     573890 non-null  int64
 4   ems_units                                 573890 non-null  int64
 5   ems_personnel                             573890 non-null  int64
 6   other_units                               573890 non-null  int64
 7   other_personnel                           573890 non-null  int64
 8   estimated_property_loss                   130955 non-null  float64
 9   estimated_contents_loss                   137942 non-null  float64
 10  fire_fatalities                           573890 non-null  int64
 11  fire_injuries                             573890 non-null  int64
 12  civilian_fatalities                       573890 non-null  int64
 13  civilian_injuries                         573890 non-null  int64
 14  number_of_alarms                          573890 non-null  int64
 15  floor_of_fire_origin                      8807 non-null    float64
 16  number_of_floors_with_minimum_damage      6636 non-null    float64
 17  number_of_floors_with_significant_damage  6630 non-null    float64
 18  number_of_floors_with_heavy_damage        6613 non-null    float64
 19  number_of_floors_with_extreme_damage      6615 non-null    float64
 20  number_of_sprinkler_heads_operating       6832 non-null    float64
dtypes: float64(8), int64(13)
memory usage: 91.9 MB

In [45]:
numeric_cols_field

['incident_number',
 'exposure_number',
 'suppression_units',
 'suppression_personnel',
 'ems_units',
 'ems_personnel',
 'other_units',
 'other_personnel',
 'estimated_property_loss',
 'estimated_contents_loss',
 'fire_fatalities',
 'fire_injuries',
 'civilian_fatalities',
 'civilian_injuries',
 'number_of_alarms',
 'floor_of_fire_origin',
 'number_of_floors_with_minimum_damage',
 'number_of_floors_with_significant_damage',
 'number_of_floors_with_heavy_damage',
 'number_of_floors_with_extreme_damage',
 'number_of_sprinkler_heads_operating']

In [46]:
df["incident_number"].dtype == "int64"

True

### MySQL data types

In [47]:
mysql_types = {}
# data types for numeric columns
for col in numeric_cols_field:
    abs_max = np.max(np.abs(df[col]))
    data_type = df[col].dtype
    if data_type == "float64":
        mysql_types[col] = "FLOAT"
    elif abs_max > 1000000:
        mysql_types[col] = "INT"
    else:
        mysql_types[col] = "SMALLINT"

In [48]:
# data types for timestamp columns
time_cols = data_dict[data_dict["Data Type"] == "Date & Time"]["Field Name"].unique()
for col in download_meta_cols:
    if col["name"] in time_cols:
        mysql_types[col["fieldName"]] = "TIMESTAMP"

In [49]:
for col in download_meta_cols:
    if (col["dataTypeName"] == "text" 
        and col["name"] not in time_cols):
        mysql_types[col["fieldName"]] = "VARCHAR(255)"

In [50]:
missing_keys = [ c for c in download_field_names if c not in mysql_types.keys() ]
missing_keys

[':sid',
 ':id',
 ':position',
 ':created_at',
 ':created_meta',
 ':updated_at',
 ':updated_meta',
 ':meta',
 'point']

In [51]:
mysql_types["latitude"] = "FLOAT"
mysql_types["longitude"] = "FLOAT"

In [52]:
set(mysql_types.values())

{'FLOAT', 'INT', 'SMALLINT', 'TIMESTAMP', 'VARCHAR(255)'}

In [53]:
import pickle

with open('../Files/mysql_data_types.pickle', 'wb') as handle:
    pickle.dump(mysql_types, handle, protocol=pickle.HIGHEST_PROTOCOL)

### Redshift data types

In [54]:
rs_types = {}
# data types for numeric columns
for col in numeric_cols_field:
    abs_max = np.max(np.abs(df[col]))
    data_type = df[col].dtype
    if abs_max > 10000:
        if data_type == "float64":
            rs_types[col] = "DECIMAL(12,3)"
        else:
            rs_types[col] = "INTEGER"
    elif data_type == "float64":
        rs_types[col] = "DECIMAL(7,2)"
    else:
        rs_types[col] = "SMALLINT"

In [55]:
# data types for timestamp columns
time_cols = data_dict[data_dict["Data Type"] == "Date & Time"]["Field Name"].unique()
for col in download_meta_cols:
    if col["name"] in time_cols:
        rs_types[col["fieldName"]] = "TIMESTAMP"

In [56]:
for col in download_meta_cols:
    if (col["dataTypeName"] == "text" 
        and col["name"] not in time_cols):
        rs_types[col["fieldName"]] = "VARCHAR"

In [57]:
missing_keys = [ c for c in download_field_names if c not in rs_types.keys() ]
missing_keys

[':sid',
 ':id',
 ':position',
 ':created_at',
 ':created_meta',
 ':updated_at',
 ':updated_meta',
 ':meta',
 'point']

In [64]:
rs_types["latitude"] = "DECIMAL(9,6)"
rs_types["longitude"] = "DECIMAL(9,6)"

In [65]:
set(rs_types.values())

{'DECIMAL(12,3)',
 'DECIMAL(7,2)',
 'DECIMAL(9,6)',
 'INTEGER',
 'SMALLINT',
 'TIMESTAMP',
 'VARCHAR'}

In [66]:
import pickle

with open('../Files/rs_data_types.pickle', 'wb') as handle:
    pickle.dump(rs_types, handle, protocol=pickle.HIGHEST_PROTOCOL)

### Checking out POINT datatype

In [61]:
api_data[0]["point"]

{'type': 'Point', 'coordinates': [-122.41837339, 37.74208979]}

In [62]:
for i, item in enumerate(api_data):
    item_point = item.get("point")
    if item_point:
        point_type = item_point.get("type")
        if point_type != "Point":
            print(i)
            assert False

In [63]:
df["incident_date"].head(3)

0    2008-04-01T00:00:00
1    2008-04-01T00:00:00
2    2008-04-01T00:00:00
Name: incident_date, dtype: object