In [4]:
import pandas as pd
from col2type_map import column_order

In [12]:
df = pd.read_csv("test_12-05_v2.csv", header=None)

/home/lucas-mateo/Desktop/CODE/jobs/TrueNorth/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (31,33,34,35,46,52,53,58,60,61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [13]:
column_order

['incident_number',
 'exposure_number',
 'suppression_units',
 'suppression_personnel',
 'ems_units',
 'ems_personnel',
 'other_units',
 'other_personnel',
 'estimated_property_loss',
 'estimated_contents_loss',
 'fire_fatalities',
 'fire_injuries',
 'civilian_fatalities',
 'civilian_injuries',
 'number_of_alarms',
 'floor_of_fire_origin',
 'number_of_floors_with_minimum_damage',
 'number_of_floors_with_significant_damage',
 'number_of_floors_with_heavy_damage',
 'number_of_floors_with_extreme_damage',
 'number_of_sprinkler_heads_operating',
 'incident_date',
 'alarm_dttm',
 'arrival_dttm',
 'latitude',
 'longitude',
 'id',
 'address',
 'call_number',
 'close_dttm',
 'city',
 'zipcode',
 'battalion',
 'station_area',
 'box',
 'first_unit_on_scene',
 'primary_situation',
 'mutual_aid',
 'action_taken_primary',
 'action_taken_secondary',
 'action_taken_other',
 'detector_alerted_occupants',
 'property_use',
 'area_of_fire_origin',
 'ignition_cause',
 'ignition_factor_primary',
 'ignition_factor_secondary',
 'heat_source',
 'item_first_ignited',
 'human_factors_associated_with_ignition',
 'structure_type',
 'structure_status',
 'fire_spread',
 'no_flame_spead',
 'detectors_present',
 'detector_type',
 'detector_operation',
 'detector_effectiveness',
 'detector_failure_reason',
 'automatic_extinguishing_system_present',
 'automatic_extinguishing_sytem_type',
 'automatic_extinguishing_sytem_perfomance',
 'automatic_extinguishing_sytem_failure_reason',
 'supervisor_district',
 'neighborhood_district']

In [6]:
df.head(3)

,incident_number,exposure_number,suppression_units,suppression_personnel,ems_units,ems_personnel,other_units,other_personnel,estimated_property_loss,estimated_contents_loss,...,detector_type,detector_operation,detector_effectiveness,detector_failure_reason,automatic_extinguishing_system_present,automatic_extinguishing_sytem_type,automatic_extinguishing_sytem_perfomance,automatic_extinguishing_sytem_failure_reason,supervisor_district,neighborhood_district
0,8028304,0,1,4,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,Bernal Heights
1,8028303,0,1,4,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,Potrero Hill
2,8028309,0,10,35,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,South of Market

In [10]:
df["latitude"]

0        -122.418373
1        -122.394890
2        -122.407468
3        -122.426849
4        -122.486394
             ...
573764   -122.414791
573765   -122.486277
573766   -122.409247
573767   -122.413404
573768   -122.466818
Name: latitude, Length: 573769, dtype: float64